html {
  font-family: 'PT Sans', sans-serif;
}

.color-brand {
  color: #000;
}

.captions {
  color: #000;
}

a {
  color: #4b0082;
}

a:hover {
  color: #4b0082;
}

.max-length {
  margin-left: 0;
  margin-right: 0;
}

.masthead {
  font-family: 'Lobster', cursive;
  background-color: #fff;

  color: #000;
}

.nav {
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.nav a {
  display: inline-block;
  padding: .5rem .75rem;

  color: #000;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus {
  background-color: #4b0082;
  color: #fff;
}

.banner {
  position: relative;
}

.banner-header {
  font-size: 5rem;
}

.chocolate-content {
  position: absolute;
  font-family: 'Lobster', cursive;
  background-color: #4b0082;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 100;
}

.contact {
  background-color: #dfdcda;
}

.btn {
  background-color: #4b0082;
  border-color: #4b0082;

  color: #fff;
}

.btn:hover {
  background-color: #4b0082;
  border-color: #4b0082;
}

.footer {
  background-color: #4b0082;
  color: #fff;
}

main {
  background-image: url("../images/bg.jpg");
}

@media only screen and (min-width: 35em) {

  .chocolate-content {
    bottom: 0;
    position: absolute;
    width: 100%;

    background-color: transparent;
  }

}
